.bold-purple {
    color: rgb(102, 0, 204);
    font-weight: bold;
 }

 nav {
   background-color: lightgoldenrodyellow;
   color: aliceblue;
   text-align: center;
   padding: 5px;
 }

 nav ul {
   list-style-type: none;
 }

 nav ul li {
   display: inline-block;
   padding: 5px 20px;
 }

 nav a {
   text-decoration: underline;
   color: green;
}

 nav a:visited {
    color: red;
 }

 li {
   float: center;
 }

 h1 {
    color: #851F7A;
    border-style: dotted;
    border-width: 1px;
    border-color: blue;
    text-align: center;
 }

 body {
    background-color: aliceblue;
    text-align: center;
}

article {
   align-items: center
   width: 1000px;
   border: 15px solid green;
   padding: 50px;
   margin: 0 auto;
  
   ;
 }

 article {padding: 25px 500px;}

 .container {
   width: 80%;
   margin: 0 auto;
   padding: 80px 0;
   display: flex;
   flex-direction: row;
   justify-content: center;
 }

 .box {
   width: 150px;
   height: 150px;
   background: grey;
   margin: 0px 14px;
   transition: 0.5s;
 }

 .box {border-radius: 6px;}

 .box:hover {
   transform: scale(1.2);
   background: black;
   z-index: 2;
 }

 .left-wide-content {
   text-align: left;
   width: 1000px;
   border: 15px solid purple;
   padding: 50px;
   margin: 0 auto;
   
 }

 .menu {
   align-items: left;
 }

 table {
   width: 100%;
   text-align: left;
   border: 5px solid;
 }

 footer a:hover {
    color: maroon;

 }