
 .portfolio {
  font-size: 32px;
  color:rgb(23, 0, 100);
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 nav ul {
   list-style-type: none;
 }

 nav ul li {
   display: inline;
   margin-right: 20px;
 }

 nav a {
   text-decoration: underline;
   color: rgb(0, 107, 128);
   font-size: 20px;
}

 nav a:visited {
    color: rgb(44, 40, 77);
 }

 ul li a i {
  margin-right: 5px;
  color:rgb(168, 210, 210);
 }

 li {
   float: none;
 }

 h1 {
    color: #851F7A;
    border-style: dotted;
    border-width: 1px;
    border-color: blue;
    text-align: center;
 }

 body {
    background-color: aliceblue;
    text-align: center;
}

article {
   align-items: center;
   width: min-content;
   border: 15px solid green;
   padding: 50px;
   margin: 0 auto;
  
   ;
 }

 article {padding: 25px 500px;}

 table {
  width: 100%;
  text-align: left;
}

footer a:hover {
   color: maroon;

}

 .bold-purple {
  color: rgb(102, 0, 204);
  font-weight: bold;
}

 .container {
   width: 80%;
   margin: 0 auto;
   padding: 80px 0;
   display: flex;
   flex-direction: row;
   justify-content: center;
 }

 .rose-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fit-picture {
  width:60%
}

 .box {
   width: 150px;
   height: 150px;
   background: grey;
   margin: 0 14px;
   transition: 0.5s;
 }

 .box {border-radius: 6px;}

 .box:hover {
   transform: scale(1.2);
   background: black;
   z-index: 2;
 }

 .box-family {
  width: 125px;
  height: 125px;
  background: grey;
  margin: 0 14px;
  transition: 0.5s;
}

.box-family {border-radius: 6px;}

.box-family:hover {
  transform: scale(1.2);
  background: black;
  z-index: 2;
}

 .rose-box {
  width: 20%;
  border: 30px solid darkcyan;
  background: lightgrey;
 }

 .align-bullet {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align:center;
}


 .left-wide-content {
  text-align: left;
  font-family: 'Dekko', cursive;
  font-weight: 400;
  font-style: normal;
  width: auto;
  border-color: #851F7A;
  padding: 5%;
  margin: auto;
 }

 .education {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
  }

 .menu {
   align-items: center;
 }