.bold-purple {
    color: rgb(102, 0, 204);
    font-weight: bold;
 }

 nav a { 
    text-decoration: underline;
    color: green;
 }

 nav a:visited {
    color: red;
 }

 h1 {
    color: #851F7A;
    border-style: dotted;
    border-width: 1px;
    border-color: blue;
 }

 body {background-color: 
    aliceblue;
}